<div class="people-list">
  <div class="search">
    <input type="text" placeholder="search" />
    <i class="fa fa-search"></i>
  </div>
  <ul *ngFor="let user of users" class="list">
    <li (click)="getChat(user)" class="clearfix">
      <img class="img-rounded" height="60" width="60" [src]="user.foto" alt="{{user.foto}}" />
      <div class="about">
        <div class="name">{{user.nome}}</div>
        <div *ngIf="user.online" class="status">
           <i class="fa fa-circle online"></i> online
        </div>
        <div *ngIf="user.online == false" class="status">
          <i class="fa fa-circle offline"></i> {{user.dtLogin.toDateString | date:'dd/MM/y HH:mm:ss'}}
       </div>
      </div>
    </li>

  </ul>
</div>