<div class="row no-gutters">
    <div class="col-md-3">
      <app-side (keyChat)="goToChat($event)"></app-side>
    </div>
    <div class="col-md-9">
      <div class="chat">
        <div class="chat-header clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />
          <div class="chat-about">
            <div class="chat-with">Chat with Vincent Porter</div>
            <div class="chat-num-messages">already 1 902 messages</div>
          </div>
          <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->
        
        <div class="chat-history">
          <ul *ngFor="let menssage of msg" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <li [class]="user.email == menssage.email ? 'clearfix':''">
              <div [class]="user.email == menssage.email ? 'message-data align-right':'message-data' ">
                <span class="message-data-time" >{{menssage.dt.toDateString | date:'dd/MM/y HH:mm:ss'}}</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{menssage.nome}}</span> <i class="fa fa-circle me"></i>            
              </div>
              <div [class]="user.email == menssage.email ? 'message other-message float-right':'message my-message' ">
                {{menssage.msg}}
              </div>
            </li>
            <!--
            <li>
              <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                <span class="message-data-time">10:31 AM, Today</span>
              </div>
              <i class="fa fa-circle online"></i>
              <i class="fa fa-circle online" style="color: #AED2A6"></i>
              <i class="fa fa-circle online" style="color:#DAE9DA"></i>
            </li>
            -->
          </ul>
          
        </div> <!-- end chat-history -->
        
        <app-messagem [keyChat]="keyChat"></app-messagem>  
      </div> <!-- end chat -->
    </div>
</div>    
